@media screen and (min-width: 600px) {
.container {
margin: 1em 2em;
 }
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #FBFAF3;
    background-image: url('../photos/background1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: space-evenly;
}

#box_1 {
    color: #333;
    background-color: #FBFAF388;
    border-radius: 8px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input {
    color: #333;
    background-color: #FBFAF3;
    border-color: #2323FF;
    border-radius: 8px;
    margin: 0.4rem;
}

button {
    color: #333;
    background-color: #FBFAF3;
    border-color: #2323FF;
    border-radius: 8px;
    margin: 0.4rem;
}

button:hover {
    background-color: #FBFAF6;
}

#footerlol {
    color: #333;
    background-color: #FBFAF388;
    text-align: center;
    margin: 0;
    padding: 25px;
}
