@media screen and (min-width: 600px) {
.container {
margin: 1em 2em;
 }
}

body {
    color: #fff;
    background-color: #460076;
    background-image: url('../images/cool.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: space-evenly;
    height: 100vh;
}

#box_1 {
    color: #fff;
    background-color: #42495299;
    border-radius: 8px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

button {
    color: #333;
    background-color: #FBFAF3;
    border-color: #FF44CC;
    border-radius: 8px;
    margin: 0.4rem;
}

#footerlol {
    color: #fff;
    background-color: #42495299;
    text-align: center;
    margin: 0;
    padding: 10px;
    grid-row: 3 / 3;
    grid-column: 3 / 3;
}

