@media screen and (min-width: 600px) {
.container {
margin: 1em 2em;
 }
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #282830;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    background-color: #363638;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #fff;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.input-group {
    margin-bottom: 15px;
}

select, button {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #45A049;
}

#output {
    margin-top: 20px;
    padding: 15px;
    border: 1px dashed #fff;
    border-radius: 8px;
    color: #fff;
    background-color: #4CAF50;
    white-space: pre-wrap; /* Ensures line breaks are respected */
}
